/* Navigation */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 10px;
}
/* Home Section */
#home{
    height: 350px;
    padding: 3px 68px;
}
#home::before{
    height: 480px;
}
#home p{
    font-size: 13px;
}
/* Services Section */
#services{
    flex-direction: column;
}
#services .box {
    padding: 14px;
    margin: 3px 12px;
    margin-bottom: 20px;
}
/* Clients Section */
#clients{
    flex-wrap: wrap;
}
#clients img{
    width: 66px;
    padding: 0px 6px;
    height: auto;
}
/* Contact Section */
#contact-box form{
    width: 70%;
}
/* Footer */
/* Utility Classes */
.h-primary{
    font-size: 36px;
}
.h-secondary {
    font-size: 1.8rem;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
    margin-top: 4px;
}