/* CSS Reset */
*{
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
}
/* CSS Variables */
:root{
    --navbar-height: 59px;
}
/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: black;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
    
}
/*Navigation Bar: Logo and Image */
#logo{
    margin: -5px 15px;
}
#logo img{
    height: 65px;
    margin: 10px 10px;
    
}
/*Navigation Bar: List Styling */

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai 2', cursive;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 530px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background: url('./img/bg0.jpg') no-repeat center center/cover;
    height: 620px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;

}

#home h1{
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}
/* Services section */
#services{
    margin: 4px;
    display: flex;
}
 #services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 3px 15px;
    border-radius: 23px;
    background-color:rgb(241, 249, 255);
    margin-bottom: 25px;
}
#services .box img{
    height: 160px;
    display: block;
    margin: auto;

}
#services .box p{
    font-family: 'Bree Serif', serif;

}

/* Client section */
#client-section{
    position: relative;
}
#client-section::before{
    content: "";
    position: absolute;
    background: url('img/bg.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.2;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;

}
.client-item{
    padding: 34px;
}
#clients img{
    height: 130px;
}

/* Contact section */

#contact{
    position: relative;
    
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('img/contact.jpg') no-repeat center center/cover;
}

/* Contact section */

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
}

/* Footer section */

footer{
    background: black;
    color: white;
    padding: 9px 20px;
}
/* Utility Class */

.h-primary{
    font-size: 3.4rem;
    padding: 12px;
    text-align: center;
    justify-content: center;
    font-family: 'Bree Serif', serif;
}
.h-secondary{
    font-size: 2.2rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: grey;
    color: white;
    font-size: 1.2rem;
    border-radius: 10px;
    margin: 17x;
    cursor: pointer;
}
.center{
    text-align: center;
} 
